<!-- welcome area -->
<section class="welcome-area" id="home">
  <!-- Background Shape-->
  <div class="background-shape">
    <div class="circle1 wow fadeInRightBig" data-wow-duration="4000ms"></div>
    <div class="circle2 wow fadeInRightBig" data-wow-duration="4000ms"></div>
    <div class="circle3 wow fadeInRightBig" data-wow-duration="4000ms"></div>
    <div class="circle4 wow fadeInRightBig" data-wow-duration="4000ms"></div>
  </div>
  <!-- Background Animation-->
  <div class="background-animation">
    <div class="star-ani"></div>
    <div class="cloud-ani"></div>
    <div class="triangle-ani"></div>
    <div class="circle-ani"></div>
    <div class="box-ani"></div>
  </div>
  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-between">
      <!-- Welcome Content-->
      <div class="col-12 col-md-7 col-lg-7">
        <div class="welcome-content">
          <h2 class="wow fadeInUp" data-wow-duration="1000ms">We build great apps with
            <span class="animated--headline">
            <h2 class="ah-headline text-white">
              <span class="ah-words-wrapper">
                <b class="is-visible">bootstrap 5.</b>
                <b>angular.</b>
                <b>node js.</b>
                <b>react.</b>
                <b>AWS Serverless.</b>
              </span>
            </h2>
          </span>
          </h2>

          <p class="mb-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms">Top-notch digital products from
            an app development company with a focus on your online business profitability.
          </p>
          <a class="btn saasbox-btn white-btn mt-3 wow fadeInUp" routerLink="" data-wow-duration="1000ms"
             data-wow-delay="400ms">Request a free consultation</a>
        </div>
      </div>
      <!-- Welcome Thumb-->
      <div class="col-10 col-md-5">
        <div class="welcome-thumb hero1 wow fadeInUp" data-wow-delay="300ms">
          <img src="assets/img/bg-img/hero-3.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- feature area -->
<section class="about-area section-padding-120">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <!-- about content area-->
      <div class="col-12 col-lg-7 col-xl-6">
        <div class="about-content mb-100 mb-lg-0">
          <div class="row justify-content-between">
            <!-- single about area-->
            <div class="col-12 col-sm-6">
              <div class="single-about-area wow fadeInUp" data-wow-duration="800ms" data-wow-delay="100ms">
                <div class="icon"><i class="lni-java"></i></div>
                <h4>Web Design</h4>
                <p>We design and develop software applications that can be implemented and inter-operate on multiple
                  computing platforms.</p>
              </div>
            </div>
            <!-- single about area-->
            <div class="col-12 col-sm-6">
              <div class="single-about-area wow fadeInUp" data-wow-duration="800ms" data-wow-delay="300ms">
                <div class="icon"><i class="lni-heart"></i></div>
                <h4>Branding</h4>
                <p>We gauge our clients pulse, analyse and offer customized and best possible solution that are not
                  readily available in off the shelf products.</p>
              </div>
            </div>
            <!-- single about area-->
            <div class="col-12 col-sm-6">
              <div class="single-about-area wow fadeInUp" data-wow-duration="800ms" data-wow-delay="500ms">
                <div class="icon"><i class="lni-infinite"></i></div>
                <h4>Consulting</h4>
                <p>We understand the nature of your business and provide you with the best resources available.</p>
              </div>
            </div>
            <!-- single about area-->
            <div class="col-12 col-sm-6">
              <div class="single-about-area wow fadeInUp" data-wow-duration="800ms" data-wow-delay="700ms">
                <div class="icon"><i class="lni-cart"></i></div>
                <h4>Ecommerce Solution</h4>
                <p>Reliable and Experienced Partner for Your Web Application or SaaS Development</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- about text area-->
      <div class="col-12 col-lg-5">
        <div class="section-heading mb-0">
          <h6 class="wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1000ms">Our key features</h6>
          <h2 class="wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1000ms">We focus on growth of your
            business.</h2>

          <p class="mb-3 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1000ms">
            Focusing on product functionality, end-user adoption, proactive and creative thinking in order to support
            your overall business goals.
          </p>
          <p class="wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1000ms">If you need team extension, we can
            help with it; however, we shine when applying our full-app-cycle approach.</p><a
          class="btn saasbox-btn mt-5 wow fadeInUp" routerLink="#" data-wow-delay="400ms" data-wow-duration="1000ms">Discover
          More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="border-top"></div>
</div>

<!-- facts area -->
<section class="saasbox-cool-facts-area section-padding-120-70">
  <!-- Circle Animation-->
  <div class="circle-animation">
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="circle3"></div>
    <div class="circle4"></div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="section-heading text-center">
          <h2>We already completed <span> 100  </span> projects successfully and more counting.</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <!-- Single Cool Facts Area-->
      <div class="col-12 col-sm-4">
        <div class="single-cool-fact mb-50 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="100ms">
          <h2><span class="rs-counter">100 </span>+</h2>
          <p>Total Projects</p>
        </div>
      </div>
      <!-- Single Cool Facts Area-->
      <div class="col-12 col-sm-4">
        <div class="single-cool-fact mb-50 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
          <h2><span class="rs-counter">21</span></h2>
          <p>Team Members</p>
        </div>
      </div>
      <!-- Single Cool Facts Area-->
      <div class="col-12 col-sm-4">
        <div class="single-cool-fact mb-50 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
          <h2><span class="rs-counter">3618</span></h2>
          <p>Coffee Served</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="border-top"></div>
</div>

<!-- services area -->
<section class="saasbox-features-area feature2 section-padding-120-90">
  <!-- Background Shape-->
  <div class="background-shape wow fadeInLeftBig" data-wow-duration="4000ms"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-9 col-lg-7 col-xxl-6">
        <div class="section-heading text-center"><i class="lni-brush"></i>
          <h2><span>Our best </span> solutions</h2>
          <p>Our services are perfect for fast growing tech and development companies who need to scale up their
            development capabilities while keeping quality, improving productivity and optimizing costs.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-12 col-lg-8 col-xxl-9">
        <div class="row g-4">
          <!-- Single Feature Area-->
          <div class="col-12 col-md-6">
            <div class="card feature-card wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1000ms">
              <div class="card-body d-flex align-items-center"><i class="lni-blackboard"></i>
                <div class="fea-text">
                  <h6>Business Analysis and Planning</h6>
                  <span>Ultimate Solution for grow</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Single Feature Area-->
          <div class="col-12 col-md-6">
            <div class="card feature-card wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1000ms">
              <div class="card-body d-flex align-items-center"><i class="lni lni-java"></i>
                <div class="fea-text">
                  <h6>Application Design & Development</h6><span>Solution for Webs & Mobile</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Single Feature Area           -->
          <div class="col-12 col-md-6">
            <div class="card feature-card wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1000ms">
              <div class="card-body d-flex align-items-center"><i class="lni-bar-chart"></i>
                <div class="fea-text">
                  <h6>UI/UX Design & Digital Branding</h6><span>Boot your sales</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Single Feature Area  -->
          <div class="col-12 col-md-6">
            <div class="card feature-card wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1000ms">
              <div class="card-body d-flex align-items-center"><i class="lni-rocket"></i>
                <div class="fea-text">
                  <h6>Project and Delivery Management</h6><span>Launch Your App Faster & on Schedule</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Single Feature Area           -->
          <div class="col-12 col-md-6">
            <div class="card feature-card wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1000ms">
              <div class="card-body d-flex align-items-center"><i class="lni-wechat"></i>
                <div class="fea-text">
                  <h6>Support and Enhancement</h6><span>Avoid Downtime & Increase Sales</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Single Feature Area        -->
          <div class="col-12 col-md-6">
            <div class="card feature-card wow fadeInUp" data-wow-delay="500ms" data-wow-duration="1000ms">
              <div class="card-body d-flex align-items-center"><i class="lni-check-box"></i>
                <div class="fea-text">
                  <h6>Testing and Quality Assurance</h6><span>Launch Tested, Reliable Apps</span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-12 col-sm-10 col-md-7 col-lg-4 col-xxl-3">
        <div class="card video-card video2 border-0 mt-5 mt-lg-0 wow fadeInUp" data-wow-delay="700ms"
             data-wow-duration="1000ms">
          <div class="card-body p-0">
            <img src="assets/img/bg-img/6.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- team area -->
<section class="saasbox-team-area section-padding-120">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-md-9 col-lg-5">
        <div class="section-heading white mb-5 mb-lg-0 mr-5">
          <h6>Our Sailors</h6>
          <h2>Creative Heads</h2>
          <p> Meet developers, managers, and designers who will be responsible for your project’s success.</p><a
          class="btn saasbox-btn white-btn-2 mt-5" routerLink="#">All Team
          Members</a>
        </div>
      </div>
      <div class="col-12 col-lg-7">
        <div class="team-members-area mt-5 mt-lg-0">
          <div class="row justify-content-center g-5">
            <div class="col-12 col-sm-6 col-md-5 col-lg-6">
              <div class="single-team wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1000ms"><img
                src="assets/img/bg-img/t1.jpg" alt="">
                <div class="hover-overlay">
                  <p>Jannatun,<span class="ml-1">Designer</span></p>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-5 col-lg-6">
              <div class="single-team wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1000ms"><img
                src="assets/img/bg-img/t4.jpg" alt="">
                <div class="hover-overlay">
                  <p>Naznin,<span class="ml-1">Manager</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- client feedback area -->
<section class="client-feedback-area d-md-flex align-items-center justify-content-between section-padding-120">
  <!-- Client Shape-->
  <div class="client-shape"><img src="assets/img/core-img/testimonial.png" alt=""></div>
  <!-- Client Feedback Heading-->
  <div class="client-feedback-heading">
    <div class="section-heading mb-0 text-right">
      <h6>Testimonials</h6>
      <h2 class="mb-0">Our Customers Reviews</h2>
    </div>
  </div>
  <!-- Client Feedback Content-->
  <div class="client-feedback-content">
    <div class="client-feedback-slides owl-carousel">
      <!-- Single Feedback Slide-->
      <div class="card feedback-card">
        <div class="card-body"><i class="lni-quotation"></i>
          <p>You've saved our business! Thanks guys, keep up the good work! The best on the net!</p>
          <div class="client-info d-flex align-items-center">
            <div class="client-thumb"><img src="assets/img/bg-img/t1.png" alt=""></div>
            <div class="client-name">
              <h6>Lim Jannat</h6>
              <p>UX/UI Designer</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Single Feedback Slide-->
      <div class="card feedback-card">
        <div class="card-body"><i class="lni-quotation"></i>
          <p>I STRONGLY recommend agency to EVERYONE interested in running a successful business!</p>
          <div class="client-info d-flex align-items-center">
            <div class="client-thumb"><img src="assets/img/bg-img/t2.png" alt=""></div>
            <div class="client-name">
              <h6>Pryce R.</h6>
              <p>CEO</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Single Feedback Slide-->
      <div class="card feedback-card">
        <div class="card-body"><i class="lni-quotation"></i>
          <p>Absolutely wonderful! I wish I would have thought of it first. I would be lost without agency.</p>
          <div class="client-info d-flex align-items-center">
            <div class="client-thumb"><img src="assets/img/bg-img/t3.png" alt=""></div>
            <div class="client-name">
              <h6>Cy N.</h6>
              <p>Developer</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Single Feedback Slide-->
      <div class="card feedback-card">
        <div class="card-body"><i class="lni-quotation"></i>
          <p>I STRONGLY recommend agency to EVERYONE interested in running a successful business!</p>
          <div class="client-info d-flex align-items-center">
            <div class="client-thumb"><img src="assets/img/bg-img/t4.png" alt=""></div>
            <div class="client-name">
              <h6>Juergen T.</h6>
              <p>Business Owner</p>
            </div>
            <!-- Single Feedback Slide-->
          </div>
        </div>
      </div>
      <div class="card feedback-card">
        <div class="card-body"><i class="lni-quotation"></i>
          <p>You've saved our business! Thanks guys, keep up the good work! The best on the net!</p>
          <div class="client-info d-flex align-items-center">
            <div class="client-thumb"><img src="assets/img/bg-img/t1.png" alt=""></div>
            <div class="client-name">
              <h6>Lim Jannat</h6>
              <p>UX/UI Designer</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Single Feedback Slide-->
      <div class="card feedback-card">
        <div class="card-body"><i class="lni-quotation"></i>
          <p>I STRONGLY recommend agency to EVERYONE interested in running a successful business!</p>
          <div class="client-info d-flex align-items-center">
            <div class="client-thumb"><img src="assets/img/bg-img/t2.png" alt=""></div>
            <div class="client-name">
              <h6>Pryce R.</h6>
              <p>CEO</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Single Feedback Slide-->
      <div class="card feedback-card">
        <div class="card-body"><i class="lni-quotation"></i>
          <p>Absolutely wonderful! I wish I would have thought of it first. I would be lost without agency.</p>
          <div class="client-info d-flex align-items-center">
            <div class="client-thumb"><img src="assets/img/bg-img/t3.png" alt=""></div>
            <div class="client-name">
              <h6>Cy N.</h6>
              <p>Developer</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Single Feedback Slide-->
      <div class="card feedback-card">
        <div class="card-body"><i class="lni-quotation"></i>
          <p>I STRONGLY recommend agency to EVERYONE interested in running a successful business!</p>
          <div class="client-info d-flex align-items-center">
            <div class="client-thumb"><img src="assets/img/bg-img/t4.png" alt=""></div>
            <div class="client-name">
              <h6>Juergen T.</h6>
              <p>Business Owner</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- partner area -->
<div class="our-partner-area section-padding-0-120">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="our-partner-slides owl-carousel">
          <div class="single-partner"><img src="assets/img/partner-img/1.png" alt=""></div>
          <div class="single-partner"><img src="assets/img/partner-img/2.png" alt=""></div>
          <div class="single-partner"><img src="assets/img/partner-img/3.png" alt=""></div>
          <div class="single-partner"><img src="assets/img/partner-img/4.png" alt=""></div>
          <div class="single-partner"><img src="assets/img/partner-img/5.png" alt=""></div>
          <div class="single-partner"><img src="assets/img/partner-img/6.png" alt=""></div>
          <div class="single-partner"><img src="assets/img/partner-img/1.png" alt=""></div>
          <div class="single-partner"><img src="assets/img/partner-img/2.png" alt=""></div>
          <div class="single-partner"><img src="assets/img/partner-img/3.png" alt=""></div>
          <div class="single-partner"><img src="assets/img/partner-img/4.png" alt=""></div>
          <div class="single-partner"><img src="assets/img/partner-img/5.png" alt=""></div>
          <div class="single-partner"><img src="assets/img/partner-img/6.png" alt=""></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="border-top"></div>
</div>

<!-- newsletter area-->
<section class="about-area about2 section-padding-0-120">
  <div class="container">
    <div class="row align-items-center justify-content-md-center justify-content-lg-between">
      <!-- about thumbnail area-->
      <div class="col-12 col-md-4 col-lg-4 col-xl-3">
        <div class="aboutUs-thumbnail mt-120 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1000ms"><img
          class="w-100" src="assets/img/bg-img/5.jpg" alt=""></div>
      </div>
      <!-- about us content area-->
      <div class="col-12 col-md-8 col-lg-8 col-xl-9">
        <div class="aboutUs-content mt-120 wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1000ms">
          <div class="card newsletter-card py-5">
            <div class="card-body">
              <div class="text-center">
                <h2>Subscribe to Our Newsletter</h2>
                <p class="mb-5">Subscribe to our newsletter, we will notify you when we are live.</p>
              </div>
              <form action="#" method="POST">
                <div class="row justify-content-center">
                  <div class="col-12 col-md-6">
                    <input class="form-control" type="email" placeholder="Type your mail"
                           aria-describedby="mailHelp"><small class="text-muted text-left" id="mailHelp"><i
                    class="lni-lock mr-2"></i>We'll never share your email with anyone else.</small>
                  </div>
                  <div class="col-12 col-md-3">
                    <button class="btn saasbox-btn w-100 mt-3 mt-md-0" type="submit">Subscribe Now</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- facts area -->
<section class="cta-area bg-img bg-overlay section-padding-120 jarallax"
         style="background-image: url('assets/img/bg-img/1.jpg');">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="cta-text text-center">
          <h2>Looking for a reliable app development partner ?</h2>
          <a class="btn saasbox-btn white-btn" routerLink="/contact">Schedule a Call</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- cookie alert area -->
<div class="cookiealert mb-0" role="alert">
  <p>This site uses cookies. We use cookies to ensure you get the best experience on our website. For details, please
    check our <a routerLink="" target="_blank"> Privacy Policy.</a></p>
  <button class="btn btn-primary acceptcookies" type="button" aria-label="Close">I agree</button>
</div>
