<!-- cool header area -->
<section class="cta-area bg-img bg-overlay section-padding-120 jarallax"
         style="background-image: url('assets/img/bg-img/1.jpg');">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="section-heading text-center white">
          <h2>Our <span class="text-yellow">Services</span></h2>
          <p>Our services are tailored to the needs of fast growing tech and development companies that are looking for
            software development expertise - either with just coding, or with managing the whole software development
            and delivery process.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- service area -->
<section class="service-area section-padding-120 bg-gray" id="service">
  <div class="container">
    <div class="row justify-content-center g-5">
      <!-- Single Service Area-->
      <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
        <div class="card service-card wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1000ms">
          <div class="card-body">
            <div class="icon"><i class="lni-blackboard"></i></div>
            <h4>Business Analysis and Planning</h4>
          </div>
        </div>
      </div>
      <!-- Single Service Area-->
      <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
        <div class="card service-card active wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1000ms">
          <div class="card-body">
            <div class="icon"><i class="lni-layout"></i></div>
            <h4>Modern Website Developement</h4>
          </div>
        </div>
      </div>
      <!-- Single Service Area-->
      <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
        <div class="card service-card wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1000ms">
          <div class="card-body">
            <div class="icon"><i class="lni-invention"></i></div>
            <h4>UI UX Designing &amp; Digital Branding</h4>
          </div>
        </div>
      </div>
      <!-- Single Service Area-->
      <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
        <div class="card service-card wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1000ms">
          <div class="card-body">
            <div class="icon"><i class="lni-code"></i></div>
            <h4>Testing and Quality Assurance</h4>
          </div>
        </div>
      </div>
      <!-- Single Service Area-->
      <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
        <div class="card service-card wow fadeInUp" data-wow-delay="500ms" data-wow-duration="1000ms">
          <div class="card-body">
            <div class="icon"><i class="lni-cloud-check"></i></div>
            <h4>Testing and Quality Assurance</h4>
          </div>
        </div>
      </div>
      <!-- Single Service Area-->
      <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
        <div class="card service-card wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1000ms">
          <div class="card-body">
            <div class="icon"><i class="lni-support"></i></div>
            <h4>Support and Enhancement</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--  technology area -->
<div class="used-technology-area section-padding-120 bg-gray">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-7 col-xxl-6">
        <div class="section-heading text-center">
          <h2><span class="mr-2">Technologies </span>we use.</h2>
          <p>We develop web applications using up-to-date technology stack, which includes: Angular, ASP.net, WordPress,
            Node.js, React and other tools - we keep learning and evolving together with the industry,
            adding new tools to our toolbox whenever we can.</p>
        </div>
      </div>
    </div>
    <div class="row g-0">
      <div class="col-6 col-lg-3">
        <div class="demo-single-feature border py-4 px-3 text-center wow fadeInUp" data-wow-delay="200ms"><img
          class="mb-3" src="assets/img/demo-img/tpl/bootstrap.png" alt="">
          <h5 class="mb-0">Bootstrap 5</h5>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="demo-single-feature border py-4 px-3 text-center wow fadeInUp" data-wow-delay="200ms"><img
          class="mb-3" src="assets/img/demo-img/tpl/npm.png" alt="">
          <h5 class="mb-0">npm</h5>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="demo-single-feature border py-4 px-3 text-center wow fadeInUp" data-wow-delay="200ms"><img
          class="mb-3" src="assets/img/demo-img/tpl/aspnet_logo.png" alt="">
          <h5 class="mb-0">ASP .net</h5>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="demo-single-feature border py-4 px-3 text-center wow fadeInUp" data-wow-delay="200ms"><img
          class="mb-3" src="assets/img/demo-img/tpl/angular.png" alt="">
          <h5 class="mb-0">Angular</h5>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="demo-single-feature border py-4 px-3 text-center wow fadeInUp" data-wow-delay="200ms"><img
          class="mb-3" src="assets/img/demo-img/tpl/sass.png" alt="">
          <h5 class="mb-0">Sass</h5>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="demo-single-feature border py-4 px-3 text-center wow fadeInUp" data-wow-delay="200ms"><img
          class="mb-3" src="assets/img/demo-img/tpl/aws.png" alt="">
          <h5 class="mb-0">AWS</h5>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="demo-single-feature border py-4 px-3 text-center wow fadeInUp" data-wow-delay="200ms"><img
          class="mb-3" src="assets/img/demo-img/tpl/google-cloud.png" alt="">
          <h5 class="mb-0">Google Cloud</h5>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="demo-single-feature border py-4 px-3 text-center wow fadeInUp" data-wow-delay="200ms"><img
          class="mb-3" src="assets/img/demo-img/tpl/Serverless_logo.png" alt="">
          <h5 class="mb-0">Serverless</h5>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="demo-single-feature border py-4 px-3 text-center wow fadeInUp" data-wow-delay="200ms"><img
          class="mb-3" src="assets/img/demo-img/tpl/WordPress-logotype-wmark.png" alt="">
          <h5 class="mb-0">Wordpress</h5>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="demo-single-feature border py-4 px-3 text-center wow fadeInUp" data-wow-delay="200ms"><img
          class="mb-3" src="assets/img/demo-img/tpl/html5.png" alt="">
          <h5 class="mb-0">HTML 5</h5>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="demo-single-feature border py-4 px-3 text-center wow fadeInUp" data-wow-delay="200ms"><img
          class="mb-3" src="assets/img/demo-img/tpl/Android_symbol_green_RGB.png" alt="">
          <h5 class="mb-0">Android</h5>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="demo-single-feature border py-4 px-3 text-center wow fadeInUp" data-wow-delay="200ms"><img
          class="mb-3" src="assets/img/demo-img/tpl/carve-apple-logo-pumpkin-5.png" alt="">
          <h5 class="mb-0">iOS</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- client feedback area-->
<section class="client-feedback-area d-md-flex align-items-center justify-content-between section-padding-120">
  <!-- Client Feedback Heading-->
  <div class="client-feedback-heading">
    <div class="section-heading mb-0 text-right">
      <h6>Testimonials</h6>
      <h2 class="mb-0">Our Customers Feedback</h2>
    </div>
  </div>
  <!-- Client Feedback Content-->
  <div class="client-feedback-content">
    <div class="client-feedback-slides owl-carousel">
      <!-- Single Feedback Slide-->
      <div class="card feedback-card">
        <div class="card-body"><i class="lni-quotation"></i>
          <p>You've saved our business! Thanks guys, keep up the good work! The best on the net!</p>
          <div class="client-info d-flex align-items-center">
            <div class="client-thumb"><img src="assets/img/bg-img/t1.png" alt=""></div>
            <div class="client-name">
              <h6>Lim Jannat</h6>
              <p>UX/UI Designer</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Single Feedback Slide-->
      <div class="card feedback-card">
        <div class="card-body"><i class="lni-quotation"></i>
          <p>I STRONGLY recommend agency to EVERYONE interested in running a successful business!</p>
          <div class="client-info d-flex align-items-center">
            <div class="client-thumb"><img src="assets/img/bg-img/t2.png" alt=""></div>
            <div class="client-name">
              <h6>Pryce R.</h6>
              <p>CEO</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Single Feedback Slide-->
      <div class="card feedback-card">
        <div class="card-body"><i class="lni-quotation"></i>
          <p>Absolutely wonderful! I wish I would have thought of it first. I would be lost without agency.</p>
          <div class="client-info d-flex align-items-center">
            <div class="client-thumb"><img src="assets/img/bg-img/t3.png" alt=""></div>
            <div class="client-name">
              <h6>Cy N.</h6>
              <p>Developer</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Single Feedback Slide-->
      <div class="card feedback-card">
        <div class="card-body"><i class="lni-quotation"></i>
          <p>I STRONGLY recommend agency to EVERYONE interested in running a successful business!</p>
          <div class="client-info d-flex align-items-center">
            <div class="client-thumb"><img src="assets/img/bg-img/t4.png" alt=""></div>
            <div class="client-name">
              <h6>Juergen T.</h6>
              <p>Business Owner</p>
            </div>
            <!-- Single Feedback Slide-->
          </div>
        </div>
      </div>
      <div class="card feedback-card">
        <div class="card-body"><i class="lni-quotation"></i>
          <p>You've saved our business! Thanks guys, keep up the good work! The best on the net!</p>
          <div class="client-info d-flex align-items-center">
            <div class="client-thumb"><img src="assets/img/bg-img/t1.png" alt=""></div>
            <div class="client-name">
              <h6>Lim Jannat</h6>
              <p>UX/UI Designer</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Single Feedback Slide-->
      <div class="card feedback-card">
        <div class="card-body"><i class="lni-quotation"></i>
          <p>I STRONGLY recommend agency to EVERYONE interested in running a successful business!</p>
          <div class="client-info d-flex align-items-center">
            <div class="client-thumb"><img src="assets/img/bg-img/t2.png" alt=""></div>
            <div class="client-name">
              <h6>Pryce R.</h6>
              <p>CEO</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Single Feedback Slide-->
      <div class="card feedback-card">
        <div class="card-body"><i class="lni-quotation"></i>
          <p>Absolutely wonderful! I wish I would have thought of it first. I would be lost without agency.</p>
          <div class="client-info d-flex align-items-center">
            <div class="client-thumb"><img src="assets/img/bg-img/t3.png" alt=""></div>
            <div class="client-name">
              <h6>Cy N.</h6>
              <p>Developer</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Single Feedback Slide-->
      <div class="card feedback-card">
        <div class="card-body"><i class="lni-quotation"></i>
          <p>I STRONGLY recommend agency to EVERYONE interested in running a successful business!</p>
          <div class="client-info d-flex align-items-center">
            <div class="client-thumb"><img src="assets/img/bg-img/t4.png" alt=""></div>
            <div class="client-name">
              <h6>Juergen T.</h6>
              <p>Business Owner</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
