<!-- welcome area -->
<section class="welcome-area hero4" id="home">
  <!-- hero background shape-->
  <div class="hero4-bg-shape"><img src="assets/img/core-img/hero-3.png" alt=""></div>
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 col-md-6">
        <!-- content-->
        <div class="welcome-content owl-carousel hero-slides pr-3">
          <!-- single hero slide-->
          <div class="single-hero-slide mr-xxl-5">
            <span class="key-quote text-white" data-animation="fadeInUp" data-delay="300ms">Our comprehensive</span>
            <h2 data-animation="fadeInUp" data-delay="500ms"><span class="text-red">Agile software</span> development
              process</h2>
            <p class="mb-4" data-animation="fadeInUp" data-delay="750ms">Designed for remote cooperations</p>
            <a class="btn saasbox-btn white-btn mr-3 mt-3" href="#discovery"
               data-animation="fadeInUp" data-delay="1000ms">Discover More <i
              class="lni lni-scroll-down size-sm position-relative top-5"></i></a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="card hero-video-card">
          <!-- shape-->
          <div class="video-shape"><img src="assets/img/core-img/hero-3-2.png" alt=""></div>
          <div class="video-card-slides owl-carousel">
            <img src="assets/img/bg-img/11.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- discovery area -->
<div class="feature-area feature4" id="discovery">
  <!-- feature side thumb-->
  <div class="feature-side-thumbnail"><img src="assets/img/bg-img/19.png" alt=""></div>
  <div class="feature-box-one section-padding-120-40">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-12 col-lg-6">
          <div class="feature--thumb mb-80"><img src="assets/img/bg-img/hero-3.png" alt=""></div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="feature--text mb-80 section-title">
            <span class="sub-title extra05-color">To make things happen.</span>

            <h2 data-number="01">Discover</h2>
            <p class="mb-4">When software is important to your business, you cannot trust to chance. Reliability is
              everything and proven processes with right methodology are key to success.</p>
            <p class="mb-4">we follow our custom development process which gives our teams a proven way to deliver IT
              projects within agreed metrics. Both business and technical.</p>
            <a class="btn saasbox-btn white-btn mr-3 mt-3" href="#"
               data-animation="fadeInUp" data-delay="1000ms">STEP 2 <i
              class="lni lni-scroll-down size-sm position-relative top-5"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="border-dashed"></div>
  </div>
  <div class="section-padding-120">
    <div class="container feature-box-two p-5">
      <div class="row g-5">
        <div class="col-12 col-sm-6 col-lg-6">
          <div class="feature-card-box d-flex">
            <div class="feature-icon">
              <h4>01.</h4>
            </div>
            <div class="feature-text">
              <h5>Budget & Timeline Control</h5>
              <p>We've established good practices that help you to stay within your budget.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-6">
          <div class="feature-card-box d-flex">
            <div class="feature-icon">
              <h4>02.</h4>
            </div>
            <div class="feature-text">
              <h5>Project planning</h5>
              <p>Before the actual development process, we organise the Project Planning Session.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-6">
          <div class="feature-card-box d-flex">
            <div class="feature-icon">
              <h4>04.</h4>
            </div>
            <div class="feature-text">
              <h5>Executives report</h5>
              <p>Sent to you every sprint with all agreed metrics, which means you are always up to date.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-6">
          <div class="feature-card-box d-flex">
            <div class="feature-icon">
              <h4>05.</h4>
            </div>
            <div class="feature-text">
              <h5>Product Demos Every 2 Weeks</h5>
              <p>After every two weeks during the app development timeline, we present our work so you can be sure that
                your app is coming to life according to plan.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- iterative feature area -->
<div class="feature-area feature3 section-padding-120-70">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-md-6">
        <!-- feature content-->
        <div class="feature--content mb-50 section-title">
          <span class="sub-title extra04-color">To improve the quality of a product and optimize costs.</span>
          <h2 data-number="02">Iterative & Incremental</h2>
          <p>Adapt to change and stay on the track at the same time. We start each development project with an
            assessment of its requirements in order to create clear, iteration-based development plan. Our risk-free
            model includes pilot-project assessment free of charge.</p>
          <ul class="pl-0">
            <li>Flexibility</li>
            <li>Risk reduction</li>
            <li>Higher quality</li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-5">
        <div class="inner-container">
          <div class="card-render inactive-1"></div>
          <div class="card-render inactive-2"></div>
          <div class="card-render inactive-3"></div>
          <div class="card-render">
            <div class="content active">
              <span>Step 1</span>
              <h1>Planning</h1>
              <p>Defining scope, establishing approach, process, standards. </p>
              <a class="button" href="#">Next step <span class="text-red">&rarr;</span></a>
            </div>
            <div class="content">
              <span>Step 2</span>
              <h1>Analysis & Design</h1>
              <p>Requirements analysis, architecture design, detailed UX/UI design.</p>
              <a class="button" href="#">Next step <span class="text-red">&rarr;</span></a>
            </div>
            <div class="content">
              <span>Step 3</span>
              <h1>Development</h1>
              <p>Implementation in sprints, developing potentially shippable products (increments)..</p>
              <a class="button" href="#">Next step <span class="text-red">&rarr;</span></a>
            </div>
            <div class="content">
              <span>Step 4</span>
              <h1>Testing</h1>
              <p>Validating User Stories, executing regression tests, raising defects.</p>
              <a class="button" href="#">Next step <span class="text-red">&rarr;</span></a>
            </div>
            <div class="progress-container">
              <div class="step"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

