<!-- footer area -->
<footer class="footer-area section-padding-120">
	<div class="container">
		<div class="row justify-content-between">
			<!-- footer widget area-->
			<div class="col-12 col-sm-10 col-lg-3">
				<div class="footer-widget-area mb-70">
					<a class="d-block mb-4" routerLink="home">
						<img src="assets/img/blocks/logo_dark.png" alt="vibhumit">
					</a>
					<p>Premier development hub for planning, building, support and enhancement of top-notch web applications.</p>
					<!-- Footer Social Icon-->
					<div class="footer-social-icon d-flex align-items-center">
						<a routerLink="" data-toggle="tooltip" data-placement="top" title="Facbook">
							<i class="fa fa-facebook"></i>
						</a>
						<a routerLink="" data-toggle="tooltip" data-placement="top" title="Twitter">
							<i class="fa fa-twitter"></i>
						</a>
						<a routerLink="" data-toggle="tooltip" data-placement="top" title="Instagram">
							<i class="fa fa-instagram"></i>
						</a>
						<a routerLink="" data-toggle="tooltip" data-placement="top" title="Linkedin">
							<i class="fa fa-linkedin"></i>
						</a>
						<a routerLink="" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="fa fa-youtube"></i>
						</a>
					</div>
				</div>
			</div>
			<!-- Footer Widget Area-->
			<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
				<div class="footer-widget-area mb-70">
					<h5 class="widget-title">Our Products</h5>
					<ul>
						<li><a routerLink="" target="_blank">Admin Panel</a></li>
						<li><a routerLink="" target="_blank">Ecommerce</a></li>
						<li><a routerLink="" target="_blank">Shopify</a></li>
						<li><a routerLink="" target="_blank">Wordpress</a></li>
					</ul>
				</div>
			</div>
			<!-- Footer Widget Area-->
			<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
				<div class="footer-widget-area mb-70">
					<h5 class="widget-title">Website Links</h5>
					<ul>
						<li><a routerLink="" target="_blank">About Us</a></li>
						<li><a routerLink="" target="_blank">Our Services</a></li>
						<li><a routerLink="" target="_blank">Join our team</a></li>
						<li><a routerLink="" target="_blank">Help &amp; Support</a></li>
					</ul>
				</div>
			</div>
			<!-- footer widget area-->
			<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
				<div class="footer-widget-area mb-70">
					<h5 class="widget-title">Important Links</h5>
					<ul>
						<li><a routerLink="" target="_blank">Privacy Policy</a></li>
						<li><a routerLink="" target="_blank">Help &amp; Support</a></li>
						<li><a routerLink="" target="_blank">Terms &amp; Conditions</a></li>
						<li><a routerLink="" target="_blank">Community &amp; Forum</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-12 col-md-6 col-lg-5">
				<!-- copywrite text-->
				<div class="footer--content-text">
					<p class="mb-0">All rights reserved & copyright © by <a routerLink="home" target="_blank">VibhumIT 2016.</a>
					</p>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-5">
				<!-- footer nav-->
				<div class="footer-nav">
					<ul class="d-flex">
						<li><a routerLink="" target="_blank">Privacy Policy</a></li>
						<li><a routerLink="" target="_blank">Terms &amp; Conditions</a></li>
						<li><a routerLink="" target="_blank">Get Support</a></li>
					</ul>
				</div>
			</div>
			<div class="col-12 col-lg-2">
				<!-- default dropup button-->
				<div class="language-dropdown text-center text-lg-right mt-4 mt-lg-0">
					<div class="btn-group dropup">
						<button class="btn saasbox-btn-2 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Language
						</button>
						<div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" routerLink=""><span class="mr-2 flag-icon flag-icon-sa"></span>Arabic</a><a class="dropdown-item" routerLink=""><span class="mr-2 flag-icon flag-icon-bd"></span>Bengali</a><a
								class="dropdown-item" routerLink=""><span class="mr-2 flag-icon flag-icon-us"></span>English</a><a class="dropdown-item" routerLink=""><span class="mr-2 flag-icon flag-icon-my"></span>Malay</a><a class="dropdown-item" routerLink=""><span
									class="mr-2 flag-icon flag-icon-es"></span>Spanish</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>