<!-- cool header area -->
<section class="cta-area bg-img bg-overlay section-padding-120 jarallax"
         style="background-image: url('assets/img/bg-img/1.jpg');">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="section-heading text-center white">
          <h2>About <span class="text-yellow">Company</span></h2>
          <p>A premier development hub for planning, building, support and enhancement of <br> top-notch web
            applications.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- journey area -->
<div class="feature-area feature3 section-padding-120-70">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-md-6 col-lg-5">
        <!-- feature section image-->
        <div class="feature-side-img mb-50"><img src="assets/img/blocks/about-us-collage.png" alt=""></div>
      </div>
      <div class="col-12 col-md-6">
        <!-- feature content-->
        <div class="feature--content mb-50">
          <h6>Our Journey</h6>
          <h2>Our Humble Beginnings</h2>
          <p>
            Vibhum IT solutions is a start up based in India that aims to develop versatile and customized products that
            cater to the small, mid size and large business operations across the globe. Our expert team is focused in
            customer engagements to create and retain a competitive advantage by delivering ingenious solutions with
            increased operational efficiencies.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- mission area -->
<section class="saasbox-team-area section-padding-120">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-md-9 col-lg-6">
        <div class="section-heading white mb-5 mb-lg-0">
          <h2>Our Misson</h2>
          <p>A world-class full-app-lifecycle software development company, focusing on building web apps, covering all
            the segments of a successful product launch and maintenance - <b class="text-yellow">ideation, prototyping
              and design, project
              management, development, QA testing, and support </b>. We work under Agile principles and give each
            customer’s
            product the same care and love that we give our own products.
          </p>
          <p><br>
            Today we offer application development services to companies that need to scale up their development
            capabilities while keeping quality, improving productivity, and optimizing costs.</p>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="feature-side-img mb-50 ml-10"><img src="assets/img/blocks/about-us-collage_a.png" alt=""></div>
      </div>
    </div>
  </div>
</section>

<!-- company fact area -->
<section class="about-area about2 section-padding-120">
  <div class="container">
    <div class="row align-items-center justify-content-md-center justify-content-lg-between">
      <!-- about thumbnail area-->
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="aboutUs-thumbnail mt-120 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1000ms"><img
          class="w-100" src="assets/img/blocks/austin-unsplash.jpg" alt=""></div>
      </div>
      <!-- about us content area-->
      <div class="col-12 col-md-8 col-lg-6">
        <div class="aboutUs-content mt-120 wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1000ms">
          <div class="section-heading mb-5">
            <h6>Awesome</h6>
            <h2>Company Facts</h2>
            <br>
            <h5><b><span class="size-sm">20+ </span> Full-stack developers, front-end developers, SCRUM masters, and
              product owners, QA manual testing engineers and automation engineers, data engineers, DevOps
              engineers.</b></h5>
            <br>
            <h5><b><span class="size-sm">7+ </span> Years of average software engineering experience between the team
              members.</b></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- team area -->
<section class="saasbox-team-area section-padding-120">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-lg-6">
        <div class="team-members-area mt-5 mt-lg-0">
          <div class="row justify-content-center g-5">
            <div class="col-12 col-sm-6 col-md-5 col-lg-6">
              <div class="single-team wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1000ms"><img
                src="assets/img/blocks/mimi-thian-unsplash.jpg" alt="">
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-5 col-lg-6">
              <div class="single-team wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1000ms"><img
                src="assets/img/blocks/design-studio-unsplash.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-9 col-lg-5 ml-5">
        <div class="section-heading white mb-5 mb-lg-0 mr-5">
          <h6>Our Sailors</h6>
          <h2>Creative Team</h2>
          <p>We partner with clients to provide complete IT infrastructure, support and expertise to maximize ROI and
            accelerate profit. Our team has strong product development experience and capabilities in delivering
            technical, operational and innovative solutions. We are Versatile, Vibrant and Visionary which makes our
            team and products stand out in the crowd.</p>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- career area -->
<div class="inner-page-wrapper section-padding-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="section-heading text-center">
          <i class="lni-paperclip"></i>
          <h3><span class="mx-2 text-red">Choose a job you love,</span> and you will never have to work for a day in
            your life</h3>
          <br>
          <p>send your detailed CV to <a href="mailto:careers@vibhumit.com"><span class="mx-2 text-red">careers@vibhumit.com</span></a>
          </p>
        </div>
      </div>
      <!-- opening area-->
      <div class="faq--area section-padding-0-120">
        <div class="container">
          <div class="row g-5">
            <div class="col-12 col-lg-6">
              <div class="faq-content">
                <div class="accordion faq--accordian" id="faqaccordian">
                  <!-- Single opening -->
                  <div class="card border-0">
                    <div class="card-header" id="headingOne">
                      <button class="btn" type="button" data-toggle="collapse" data-target="#collapseOne"
                              aria-expanded="true" aria-controls="collapseOne">1. Senior Full-Stack Developer
                      </button>
                    </div>
                    <div class="collapse show" id="collapseOne" aria-labelledby="headingOne"
                         data-parent="#faqaccordian">
                      <div class="card-body">
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                          squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                          nesciunt eiusmod.</p>
                      </div>
                    </div>
                  </div>
                  <!-- Single opening -->
                  <div class="card border-0">
                    <div class="card-header" id="headingThree">
                      <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                              aria-expanded="true" aria-controls="collapseThree">3. Senior DevOps Engineer
                      </button>
                    </div>
                    <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#faqaccordian">
                      <div class="card-body">
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                          squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                          nesciunt eiusmod.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="faq-content">
                <div class="accordion faq--accordian" id="faqaccordian2">
                   <!-- Single opening -->
                  <div class="card border-0">
                    <div class="card-header" id="headingTwo">
                      <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                              aria-expanded="true" aria-controls="collapseTwo">2. Senior React Native Developer
                      </button>
                    </div>
                    <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#faqaccordian">
                      <div class="card-body">
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                          squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                          nesciunt eiusmod.</p>
                      </div>
                    </div>
                  </div>
                  <!-- Single opening-->
                  <div class="card border-0">
                    <div class="card-header" id="headingFour">
                      <button class="btn" type="button" data-toggle="collapse" data-target="#collapseFour"
                              aria-expanded="true" aria-controls="collapseFour">4. Senior Frontend Developer
                      </button>
                    </div>
                    <div class="collapse show" id="collapseFour" aria-labelledby="headingFour"
                         data-parent="#faqaccordian2">
                      <div class="card-body">
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                          squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                          nesciunt eiusmod.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- facts area -->
<section class="cta-area bg-img bg-overlay section-padding-120 jarallax"
         style="background-image: url('assets/img/bg-img/1.jpg');">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="cta-text text-center">
          <h2>Looking for a reliable app development partner ?</h2>
          <a class="btn saasbox-btn white-btn" routerLink="/contact">Schedule a Call</a>
        </div>
      </div>
    </div>
  </div>
</section>
